<div class="reservation-page">
    <mat-card class="reservation-container">
        <h1>Reservation for {{ movie?.title }}</h1>
        <p><strong>Duration:</strong> {{ movie?.duration }}</p>
        <p><strong>Director:</strong> {{ movie?.director }}</p>
        <p><strong>Ticket Price:</strong> {{ movie?.ticketPrice }} RSD</p>
        
        <label for="ticketCount">Number of Tickets:</label>
        <mat-form-field appearance="fill">
          <mat-label>Number of Tickets</mat-label>
          <input matInput type="number" id="ticketCount" [(ngModel)]="ticketCount" (change)="updateTicketCount(ticketCount)" min="1" />
        </mat-form-field>
      
        <p><strong>Total Price:</strong> {{ getTotalPrice() }} RSD</p>
      
        <button mat-raised-button color="primary" (click)="confirmReservation()">Confirm Reservation</button>
      </mat-card>
      <mat-card class="reservation-management">
        <h2>My Reservations</h2>
        <ul>
          <li *ngFor="let reservation of reservations; let i = index">
            {{ reservation.title }} - {{ reservation.ticketCount }} tickets
            <button mat-button (click)="deleteReservation(i)">Delete</button>
          </li>
        </ul>
      </mat-card>
</div>

  
  
  
