.profile-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px; 
    height: 100vh; 
    background-color: black;
}

.example-card {
    width: 300px;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: black;
    color: white;    
}






