
<div class="movie-container">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.genre }} - {{ movie.releaseDate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ movie.description }}</p>
      <p><strong>Duration:</strong> {{ movie.duration }}</p>
      <p><strong>Director:</strong> {{ movie.director }}</p>
      <p><strong>Cast:</strong> {{ movie.cast.join(', ') }}</p>
      <p><strong>Ticket Price:</strong> {{ movie.ticketPrice }} RSD</p>
      <div>
        <h4>Rate the movie:</h4>
        <mat-checkbox [(ngModel)]="localRating[movie.title].excellent">
          <i class="fas fa-star" style="color: gold;" ></i>Excellent</mat-checkbox>
        <mat-checkbox [(ngModel)]="localRating[movie.title].veryGood">
          <i class="fas fa-star-half-alt" style="color: orange;"></i>Very Good</mat-checkbox>
        <mat-checkbox [(ngModel)]="localRating[movie.title].good">
          <i class="fas fa-thumbs-up" style="color: green;"></i>Good</mat-checkbox>
        <mat-checkbox [(ngModel)]="localRating[movie.title].bad">
          <i class="fas fa-thumbs-down" style="color: red;"></i>Bad</mat-checkbox>
        <mat-checkbox [(ngModel)]="localRating[movie.title].awful">
          <i class="fas fa-trash" style="color: darkred;"></i> Awful</mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
      <button mat-button (click)="reserveMovie(movie)">Reservations</button>
      <button mat-button (click)="submitRating(movie, localRating[movie.title])">Submit Rating</button>
    </mat-card-actions>
  </mat-card>
</div>





