<div class="movie-container">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.genre }} - {{ movie.releaseDate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ movie.description }}</p>
      <p><strong>Duration:</strong> {{ movie.duration }}</p>
      <p><strong>Director:</strong> {{ movie.director }}</p>
      <p><strong>Cast:</strong> {{ movie.cast.join(', ') }}</p>
      <p><strong>Ticket Price:</strong> {{ movie.ticketPrice }} RSD</p>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
      <button mat-button [routerLink]="['/reservations']" (click)="reserveMovie(movie)">
        Reservations
      </button>
    </mat-card-actions>
  </mat-card>
</div>

